<!-- This custom helper is defined in app/helpers/application_helper.rb -->
<%= error_messages_for(@section_type) %>

<table summary="Section Type form fields">
  <tr>
    <th><%= f.label(:name_tag) %></th>
    <td><%= f.text_field(:name_tag) %></td>
  </tr>
</table>