<% @page_title = "Create Section Type" %>

<%= link_to '<< Back to List', section_types_path %>

<div class="section-types new">
  <h2>Create Section Type</h2>

<%= form_for(@section_type) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Section Type") %>
    </div>
    
  <% end %>
</div>
