<% @page_title = "Edit Section: #{@section.name_tag}" %>

<%= link_to '<< Back to List', section_type_sections_path(:section_type_id => @section_type.id) %>

<div class="sections edit">
  <h2>Update Section</h2>

  <%= form_for(:section, :url => section_type_section_path(:id => @section.id, :section_type_id => @section_type.id), :html => {:method => :patch, :multipart => true}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update Section") %>
    </div>
    
  <% end %>
</div>
