<% @page_title = "Delete Page: #{@page.name}" %>

<%= link_to("<< Back to List", page_type_pages_path(:page_type_id => @page_type.id), :class => 'back-link') %>


<div class="pages delete">
  <h2>Delete Page</h2>
	
	<%= form_for(:page, :url => page_type_page_path(:id => @page.id, :page_type_id => @page_type.id), :html => {:method => :delete}) do |f| %>
	
    <p>Are you sure you want to permanently delete this page?</p>
  
    <p class="reference-name"><%= @page.name_tag %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete Page") %>
    </div>
    
  <% end %>
</div>
