<% @page_title = "Edit Page: #{@page.name}" %>

<%= link_to '<< Back to List', page_type_pages_path(:page_type_id => @page_type.id) %>

<div class="pages edit">
  <h2>Update Page</h2>

<%= form_for(:page, :url => page_type_page_path(:id => @page.id, :page_type_id => @page_type.id), :html => {:method => :patch}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update Page") %>
    </div>
    
  <% end %>
</div>
