<% @page_title = "Create Page" %>

<%= link_to '<< Back to List', page_type_pages_path(:page_type_id => @page_type.id) %>

<div class="pages new">
  <h2>Create Page</h2>

  <%= form_for(:page, :url => page_type_pages_path(:page_type_id => @page_type.id), :html => {:method => :post}) do |f| %>
  
	<%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Page") %>
    </div>
    
  <% end %>
</div>
