<% @page_title = "Create Page" %>

<%= link_to '<< Back to List', {:action => 'index', :page_type_id => @page_type.id} %>

<div class="pages new">
  <h2>Create Page</h2>

  <%= form_for(:page, :url => {:action => 'create', :page_type_id => @page_type.id}) do |f| %>
  
	<%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Page") %>
    </div>
    
  <% end %>
</div>
