<% @page_title = "Edit bucket" %>

<%= link_to 'Show', @bucket %> | <%= link_to 'Back to List', buckets_path %>

<div class="page-types edit">
  <h2>Editing bucket</h2>

<%= render 'form' %>




</div>