/* CSS Document */

/* copyright Thuy Creative 2014 */

/* =Notes
--------------------------------------------------------------
This stylesheet uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:

$rembase:     14;
$line-height: 24;

---------- Examples

* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

* Set a font-size and then set a line-height based on the font-size
	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

---------- Vertical spacing

Vertical spacing between most elements should use 24px or 48px
to maintain vertical rhythm:

.my-new-div {
	margin: 24px 0;
	margin: 1.714285714rem 0; ( 24 / $rembase )
}

---------- Further reading

http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/

*/

/* Thuy Creative color palette
#000000 rgb(0, 0, 0) BLACK
#333333 rgb(51, 51, 51)
#666666 rgb(102,102,102) DARKER GRAY
#999999 rgb(153, 153, 153) GRAY
#E6E6E6 rgb(230,230,230) LIGHT GRAY
#F5F5F5 rgb(245, 245, 245) LIGHTER GRAY
*/

/* Fonts
Abadi MT Condensed Light Regular - slogan
PT Sans Regular and Bold - for the rest

.eot - IE9 Compat Modes
.eot?#iefix - IE6-IE8
.woff - Modern Browsers
.ttf - Safari, Android, iOS
.svg - Legacy iOS
*/
@font-face {
	font-family: 'PT Sans';
	src: url('PTSans-Regular-webfont.eot');
	src: url('PTSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
	url('PTSans-Regular-webfont.woff') format('woff'),
	url('PTSans-Regular-webfont.ttf') format('truetype'),
	url('PTSans-Regular-webfont.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style:normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('PTSans-Bold-webfont.eot');
	src: url('PTSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), 
	url('PTSans-Bold-webfont.woff') format('woff'),
	url('PTSans-Bold-webfont.ttf') format('truetype'),
	url('PTSans-Bold-webfont.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style:normal;
}

@font-face {
    font-family: 'Abadi MT Condensed Light';
    src: url('abadi-mt-condensed-light.eot');
    src: url('abadi-mt-condensed-light.eot?#iefix') format('embedded-opentype'),
         url('abadi-mt-condensed-light.woff') format('woff'),
         url('abadi-mt-condensed-light.ttf') format('truetype'),
         url('abadi-mt-condensed-light.svg#abadi_mt_condensed_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Global styles --------------------------------------------------*/

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}

/* responsive image */
img {
	max-width: 100%;
	height: auto;
}

/* clear */
.clearfix:before,
.clearfix:after,
#content:before,
#content:after,
.contact-form-block:before,
.contact-form-block:after {
    content: "";
    display: table;
}
.clearfix:after,
#content:after,
.contact-form-block:after {
    clear: both;
}

.assistive-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/* =Basic structure
-------------------------------------------------------------- */

/* Body, links, basics */

/* change font default to 14px instead of 16px */
html {
	font-size: 87.5%;
}
body {
	font-family: 'PT Sans', Arial, sans-serif;
	color: #666666;
}

p {
	/*line-height: 1.48;*/
	margin-bottom: 24px;
}

a:hover {
	color: #333333;
}

/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

/* header */
header h1 a {
	display: block;
	width: 100%;
	height: 126px;
}
header h1 a {
	background-image: url('thuy-creative-logo.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 113px 126px;
	text-indent: -9999px;
}
.tag-line {
	font-family: 'Abadi MT Condensed Light', Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	/*font-size: 20px;*/
}

.tag-line,
#main-nav,
#content {
	margin-top: 12px;
}

/* Top navigation */
#main-nav {
	text-align: center;
}
#main-nav li a,
#main-nav li {
    display: inline-block;
    text-decoration: none;
}
#main-nav li {
	color: #000000;
	margin: 0 20px 0 0;
}
#main-nav li:nth-child(4n) {
	margin-right: 0;
}

#main-nav li a,
#main-nav li {
	text-transform: uppercase;
}
#main-nav li a {
	color: #666666;
}
#main-nav li a:hover {
	color: #333333;
}

/* main content */
#content {
	background-color: #E6E6E6;
	padding: 24px 0 0 0;
}
#content h1 {
	text-align: center;
	text-transform: uppercase;
	/*font-size: 18px;*/
	color: #333333;
	margin-bottom: 24px;
}

/* project preview */
.thumbnail {
	list-style: none;
}
.thumbnail li {
	background-color: #ffffff;
}
.project-preview,
.project-preview span,
img.align-center {
	display: block;
}
img.align-center,
.project-preview span {
    margin-left: auto;
    margin-right: auto;
}
.project-preview span  {
	max-width: 312px;
}
.project-preview {
	text-decoration: none;
}
.project-preview:hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.preview-project-heading {
	color: #333333;
	font-weight: bold;
	/*font-size: 16px;
	font-size: 1.14285714285714rem;
	line-height: 1.5;*/
	margin: 10px 0 0 0;	
}
.preview-project-short-description {
	color: #666666;
}

/* individual project page */
#content .project-resume h1 {
	text-transform: capitalize;
	/*font-size: 30px;
	line-height: 1;*/
	margin-bottom: 0;
	color: #000000;
}
#content .project-detail h1,
.project-resume h2 {
	text-transform: capitalize;
	color: #666666;
}
.project-type {
	/*font-size: 20px;
	line-height: 1;*/
	color: #999999;	
}
/*.project-resume,
.project-detail,
.service p {
	font-size: 16px;
}*/
.project-detail {
	padding-top: 24px;
	padding-bottom: 24px;
	margin-top: 24px;
	border-top: solid 1px #dddddd;
}
/*.project-resume h2 {
	font-size: 18px;
}*/
.project-resume a {
	color: #999999;
}
.project-resume a:hover {
	color: #666666;
}
.role-list {
	list-style: none;
	/*line-height: 1.48;*/
	margin-bottom: 12px;
}
.role-list li {
	padding-top: 6px;
}

/* More project */
.more-project {
	background-color: #F5F5F5;
	padding-top: 24px;
}
.more-project h1 {
	color: #666;
	text-transform: uppercase;
	text-align: center;
	/*font-size: 14px;*/
	margin-bottom: 24px;
}

/* Services */
#content h1.sub-title {
	text-transform: none;
	margin-bottom: 12px;
}
.service {
	padding-bottom: 24px;
}
/*.service sector {
	margin-top: 24px;
}*/
.sub-title span {
	display: block;
	width: 78px;
	height: 78px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('service-sprite.png');
	background-repeat: no-repeat;
	margin-bottom: 12px;
	margin-top: 48px;
}

.wd-i {
	background-position: 0 0;
}
.wdev-i {
	background-position: 0 -78px;
}
.cms-i {
	background-position: 0 -156px;
}
.host-dn-i {
	background-position: 0 -234px;
}

/* Contact page */
.contact-form-block {
	padding-bottom: 24px;
}

/* footer */
.footer-style {
	padding: 24px 0;
}
.about-us p {
	margin-bottom: 12px;
}
.copyright p {
	margin-bottom: 0;
}

.footer-nav li,
.languages li {
	display: inline-block;
}
.languages li {
	margin: 24px 24px 12px 0px;
}
.languages li:nth-child(3n) {
	margin-right: 0;
}

.languages a {
	padding: 7px 14px;
	background-color: #E6E6E6;
}
.languages a,
.footer-nav a {
	color: #666666;
	text-decoration: none;
}
.footer-nav a.current-link {
	color: #000000;
}
.languages a:hover {
	background-color: #CCCCCC;
}
.footer-nav a:hover {
	text-decoration: underline;
	color: #333333;
}

/* About us */
.about-us {
	color: #333333;
}
.about-us h1 {
	margin-bottom: 12px;
	/*font-size: 18px;*/
}

.footer-nav li {
	margin: 12px 12px 0 0;
}
.footer-nav li:nth-child(5n) {
	margin-right: 0;
}

/*mobile styles*/
@media only screen and (max-width:480px) {
	
	body {
		min-width: 320px;
		max-width: 480px;
	}
		
	.header-style,
	.main-nav-style,
	.main-content-style,
	.footer-style,
	.more-project-style {
		margin: 0 auto;
		width: 90%;
	}

	/* portfolio - project preview */
	.project-preview {
		margin: 0 auto 10% auto;
		padding: 5%;
	}
	
	p {
		font-size: 14px;
		line-height: 1.45;
	}
	
	.tag-line {
		font-size: 20px;
	}
	
	#content h1,
	.project-resume h2,
	.about-us h1 {
		font-size: 18px;
	}
	
	/* portfolio */
	.preview-project-heading {
		font-size: 16px;
		line-height: 1.5;
	}
	
	/* individual project page */
	#content .project-detail h1,
	.project-resume h2,
	.project-type,
	.about-us h1,
	.copyright {
		text-align: center;
	}
	
	#content .project-resume h1 {
		font-size: 30px;
		line-height: 1;
	}
	.project-type {
		font-size: 20px;
		line-height: 1;
	}

	/*.role-list {
		line-height: 1.45;
	}*/
	
	/* Rearrage image of resume part */
	.project-resume-txt {
		display:table;
	}
	.project-resume-img {
		display:table-footer-group;
	}
		
	/* footer */
	.copyright p {
		margin-bottom: 0;
	}
	
}
	
/*tablet styles*/
@media only screen and (min-width:481px) and (max-width:768px) {
	body {
		min-width: 500px;
		max-width: 768px;
	}
	
	.header-style,
	.main-nav-style,
	.main-content-style,
	.footer-style,
	.more-project-style {
		width: 90%;
		margin: 0 auto;
	}
	
	p,
	.footer-nav li,
	.languages li {
		font-size: 16px;
		line-height: 1.45;
	}
	
	.tag-line {
		font-size: 20px;
	}
	
	#content h1,
	.project-resume h2,
	.about-us h1 {
		font-size: 18px;
	}
	
	/* portfolio */
	.preview-project-heading {
		font-size: 16px;
		line-height: 1.5;
	}
	
	/* individual project page */
	#content .project-resume h1 {
		font-size: 30px;
		line-height: 1;
	}
	.project-type {
		font-size: 20px;
		line-height: 1;
	}
	
	/*.role-list {
		line-height: 1.45;
		font-size: 16px;
	}*/
	
	/* Rearrage image of resume part */
	.project-resume-txt {
		display:table;
	}
	.project-resume-img {
		display:table-footer-group;
	}
	
	/* portfolio - project preview */
	.thumbnail li {
		width: 46.5%;
		display: inline-block;
		margin: 0 6% 6% 0;
		vertical-align: top;
	}
	.thumbnail li:nth-child(2n),
	.thumbnail li:nth-child(4n),
	.thumbnail li:nth-child(6n) {
		margin-right: 0;
	}
	.project-preview {
		padding: 2.5%;
	}
	
	/* individual project page */
	#content .project-detail h1,
	.project-resume h2,
	.project-type,
	.about-us h1,
	.copyright {
		text-align: center;
	}
	
	/* more project from my portfolio */
	.more-project .thumbnail li:nth-child(3n) {
		display: none;
	}
	
	/* footer */
	.copyright {
		text-align: center;
	}
	.copyright p {
		padding-bottom: 0;
	}
	
}

/*desktop styles*/
@media only screen and (min-width:769px) {
	
	.header-style,
	.main-nav-style,
	.main-content-style,
	.footer-style,
	.more-project-style  {
		max-width: 960px; /*1024px; 1065px;*/
		width: 90%;
		margin: 0 auto;
	}
	
	p,
	.footer-nav,
	.languages {
		font-size: 19px; /* 22.5px; */
		line-height: 1.35;
	}
	
	.tag-line {
		font-size: 26px;
	}
	
	#content h1,
	.project-resume h2,
	.about-us h1 {
		font-size: 24.5px;
		font-weight: bold;
	}
	
	/* navigation -top */
	#main-nav li,
	.more-project h1 {
		font-size: 19px;
	}
	
	/* portfolio */
	.preview-project-heading {
		font-size: 16px;
		line-height: 1.5;
	}
	
	/* individual project page */
	#content .project-resume h1 {
		font-size: 36px;
		line-height: 1;
	}
	.project-type {
		font-size: 26px;
		line-height: 1;
	}
	
	/*.role-list {
		line-height: 1.45;
		font-size: 22.5px;
	}*/
	
	/* project preview */
	.thumbnail li {
		width: 30%;
		display: inline-block;
		margin: 0 4.4% 5% 0;
		vertical-align: top;
	}
	.thumbnail li:nth-child(3n),
	.thumbnail li:nth-child(6n) {
		margin-right: 0;
	}
	.project-preview {
		padding: 2.5%;
	}
	
	/* individual project */
	.project-resume:before,
	.project-resume:after {
	    content: "";
	    display: table;
	}
	.project-resume:after {
	    clear: both;
	}

	/*.project-resume-txt,
	.project-resume-img {
		float: left;
	    list-style: none;
	    margin: 0 4% 0 0;
	}
	.project-resume-txt {
		width:56%;
	}
	.project-resume-img {
		width: 40%;
		margin-right: 0;
	}*/
	
	.project-resume-img {
		float: right;
		width: 40%;
		margin: 0 0 0 4%;
		display: inline;
	}

	#content .project-resume h1,
	#content .project-detail h1 {
		text-align: left;
	}
	
	/* services */
	/*.service {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}*/
	
	/* Contact page */
	.float-left {
		float: left;
		width: 45%;
	}
	.column-1 {
		margin-right: 10%;
	}
	input[type="text"],
	input[type="email"],
	textarea {
		width: 100%;
	}
	
	
	
	/* footer */
	.copyright {
		/*width: 30%;*/
	}
	.copyright p {
		padding-bottom: 6px;
	}
	.about-us {
		/*width: 64.4%;
		float: right;*/
	}
	.about-us h1,
	.copyright {
		text-align: center;
	}
	.copyright {
		margin-top: 48px;
	}
	
}