<% @page_title = "Create Page Type" %>

<%= link_to 'Back to List', {:action => 'index'} %>

<div class="page-types new">
  <h2>Create Page Type</h2>

  <%= form_for(:page_type, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Page Type") %>
    </div>
    
  <% end %>
</div>
