<% pages ||= [] %>
<ul>
<% pages.each do |page| %>
	<% if (page.page_type_id != PageType.project.first.id) %> 
		<li class="<%= page.permalink.to_s + '-topmenu-item' %>"><%= link_to_unless_current(raw(page.name), {:controller => 'public', :action => 'show', :permalink => page.permalink}) %></li>
		<% end %> 
<% end %>

	<!-- <li><%= link_to_unless_current('Contact', {:controller => 'public', :action => 'contact'}) %></li> -->
	
	<li class="contact-topmenu-item"><%= link_to_unless_current(t('contactmenuitem'), {:controller => 'contact', :action => 'new'}) %></li>

</ul>
